Authlib==0.15.3
cachelib==0.1.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
Flask==1.1.2
Flask-Dance==3.3.1
Flask-OAuthlib==0.9.6
Flask-Session==0.3.2
google-images-download==2.8.0
gunicorn==20.1.0
h5py==3.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.4.3
MarkupSafe==1.1.1
numpy==1.20.1
oauthlib==2.1.0
opencv-python==4.5.1.48
Pillow==8.1.2
pycparser==2.20
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.1.0
scipy==1.6.0
selenium==3.141.0
six==1.15.0
tqdm==4.60.0
urllib3==1.26.4
URLObject==2.4.3
Werkzeug==1.0.1
